@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.5),rgba(136, 136, 206, 0.7)),url();
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}
main{
    max-width: 600px;
    margin: 0px auto;
}
h1{
    text-align: center;
}
#block-title p{
    text-align: center;
    width: auto;
    padding: 8px 24px;
}
#survey-form{
    padding-top: 2rem;
    border-radius: 16px;
    background-color: hsl(240, 27%, 53%);
    margin: 24px 1rem;
}
form label{
    color:white;
}
input, select{
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}
#phone-format-example p{
    margin-top: -1rem ;
    font-size: 0.75rem;
    color: white;
}
div p{
    color: white;
    margin: 0;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.input-radio{
  max-width: 15px;
}
.platform-class{
    display: grid;
}


@media (max-width: 580px){
    main{
        max-width: 560px;
        margin: 0px auto;
    }
}